<% include partials/_header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-7">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <td>n°</td>
            <td>Nro</td>
            <td>Planta</td>
            <td>Observaciones</td>
            <td>Acciones</td>
          </tr>
        </thead>
        <tbody>
          <% if (data) { %>
            <% for(var i = 0; i < data.length; i++) { %>
              <tr>
                <td><%= (i + 1) %></td>
                <td><%= data[i].nro %></td>
                <td><%= data[i].planta %></td>
                <td><%= data[i].observaciones %></td>
                <td>
                  <a href="ambiente/updateAmb/<%= data[i].id %>" class="btn btn-info">Edit </a>
                  <a href="ambiente/deleteAmb/<%= data[i].id %>" class="btn btn-danger">Delete <%= data[i].id %> </a>
                </td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
    <div class="col-md-5">
      <div class="card-body">
        <form action="/ambiente/addAmb" method="POST">
          <div class="form-group">
            <input type="text" name="nro" placeholder="Número de Habitación" class="form-control" autofocus>
          </div>
          <div class="form-group">
            <input type="text" name="planta" placeholder="Planta" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="observaciones" placeholder="Observaciones" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">
            save customer
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<% include partials/_footer %>
