<% include partials/_header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <td>Nro</td>
            <td>Inquilino</td>
            <td>Ambiente</td>
            <td>F. Inicial</td>
            <td>F Conclusion</td>
            <td>F. Firma</td>
            <td>Garantia</td>
            <td>Acciones</td>
          </tr>
        </thead>
        <tbody>
          <% if (data) { %>
            <% for(var i = 0; i < data.length; i++) { %>
              <tr>
                <td><%= (i + 1) %></td>
                <td><%= data[i].id_inq %></td>
                <td><%= data[i].id_amb %></td>
                <td><%= data[i].fecha_ini %></td>
                <td><%= data[i].fecha_fin %></td>
                <td><%= data[i].fecha_fima %></td>
                <td><%= data[i].garantia %></td>
                <td>
                  <a href="/update/<%= data[i].id %>" class="btn btn-info">Edit</a>
                  <a href="/contrato/deleteCon/<%= data[i].id %>" class="btn btn-danger">Delete</a>
                </td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
    <div class="col-md-12">
      <div class="card-body">

        <form action="/contrato/addCon" method="POST">
          <div class="form-group">
            <input type="text" name="id_inq" placeholder="Inquilino" class="form-control" autofocus>
          </div>
          <div class="form-group">
            <input type="text" name="id_amb" placeholder="Ambiente" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="fecha_ini" placeholder="F. Inicio" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="fecha_fin" placeholder="F. Conclusion" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="fecha_fima" placeholder="F. Firma" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="garantia" placeholder="Garantia" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">
            save customer
          </button>
        </form>
      </div>
    </div>
  </div>
 </div>
</div>

<% include partials/_footer %>
