<% include partials/_header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-7">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <td>Nro</td>
            <td>Ci</td>
            <td>Nombre</td>
            <td>Celular</td>
            <td>Genero</td>
            <td>Acciones</td>
          </tr>
        </thead>
        <tbody>
          <% if (data) { %>
            <% for(var i = 0; i < data.length; i++) { %>
              <tr>
                <td><%= (i + 1) %></td>
                <td><%= data[i].ci + '.' + data[i].extencion +'.'%></td>
                <td><%= data[i].nombre %></td>
                <td><%= data[i].cel %></td>
                <td><%= data[i].genero %></td>
                <td>
                  <a href="/inquilino/updateInq/<%= data[i].id %>" class="btn btn-info">Edit</a>
                  <a href="/inquilino/deleteInq/<%= data[i].id %>" class="btn btn-danger">Delete</a>
                </td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
    <div class="col-md-5">
      <div class="card-body">

        <form action="/inquilino/addInq" method="POST">
          <div class="form-group">
            <input type="text" name="ci" placeholder="Ci" class="form-control" autofocus>
          </div>
          <div class="form-group">
            <input type="text" name="extencion" placeholder="Extencion" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="nombre" placeholder="Nombre" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="cel" placeholder="Celular" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="genero" placeholder="Genero" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="fecha" placeholder="F. Nacimiento" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">
            save customer
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<% include partials/_footer %>
