<% include partials/_header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 offset-md-3 card">
      <div class="card-body">
        <form action="/pago/updatePag/<%= data.id %>" method="POST">
          <div class="form-group">
            <input type="text" name="id_amb" value="<%= data.id_amb%>" placeholder="Name" class="form-control" autofocus>
          </div>
          <div class="form-group">
            <input type="text" name="concepto" value="<%= data.concepto%>" placeholder="Address" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="montoACancelar" value="<%= data.montoACancelar%>" placeholder="Phone" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="montoCancelado" value="<%= data.montoCancelado%>" placeholder="Phone" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="observaciones" value="<%= data.observaciones%>" placeholder="Phone" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="fecha" value="<%= data.fecha%>" placeholder="Phone" class="form-control">
          </div>

          <button type="submit" class="btn btn-primary">
            save customer
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<% include partials/_footer %>
